

.body {
    background-color: rgb(41, 65, 171);
    background-image: url(https://www-growth.scdn.co/static/home/bursts-tablet.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right 40% center;
    justify-content: center;
}

.header {
    background-color: black;
    color: white;
}

.h1 {
    font-size: 100px;
    color: #1ed760;
    text-align: center;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    display: block;
    font-weight: 900;
}